.navbar {
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-box button {
    padding: 5px 10px;
    border: none;
    background-color: rgb(237, 241, 240);
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  